@import "tailwindcss";
@import "@heroui/styles";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;
  max-width: 100%;
}

/* layout.css */
html, body {
  height: 100%;
}
body {
  margin: 0;
}
.app {
  min-height: 100vh;          
  display: flex;               
  flex-direction: column;      
}

.app main {
  flex: 1;                   
}