@import "tailwindcss";
@import "@heroui/styles";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #29477f;
  padding-left: 20vh;
  padding-right: 20vh;
  max-width: 100%;
}

